
body{
  font-family: "Segoe UI Light";
}

.interface-container p, .dashboard-row p{
  margin: 0;
}

.dashboard-container{
  padding: 20px;
}

img{
  width: 100%;
}

.dot {
  height: 3px;
  width: 3px;
  background-color: #5a62b3;
  border-radius: 50%;
  display: inline-block;
  margin: 0.1px;
}

.dot-container{
  height: 100%;
  width: 100%;
  text-align: center;
}


.plus-icon {
  height: 24px;
  width: 24px;
  display: inline-block;
  background-color: black;
  color: white;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.plus-icon::before {
  content: "+";
}

.newItem-wrapper{
  background: #dfe0f2;
}

.font-style{
  font-size: 7px;
  font-weight: 500;
  color: #b7b8bc;
}

.dashboard-row{
  background: #f6f7fb;
  border-radius: 8px;
}

/* applying flex css */
.dashBoard-wrapper, .interface-wrapper, .dashboard-porfolio, .earning-interface{
  display: flex;
  align-items: center;  
}

/* common fonts */
.medium-font{
  color: #b7b8bc;
  font-size: 12px;
  font-weight: 300;
}

.small-font-size{
  font-size: 7px;
  font-weight: 500;
  color: #b7b8bc;
}

.large-font{
  font-size: 25px;
  font-weight: 400;    
}

/* border styles */
.blue-border-style{
  padding: 6px 19px;
  border-radius: 5px;
  color: white; 
}

/* images size */
.small-img{
  width: 50px;
}
